{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <h1>Notifications</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Date d'envoi</th>
            <th>Lue</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td>{{ notification.message }}</td>
                <td>{{ notification.dateEnvoi ? notification.dateEnvoi|date('Y-m-d') : '' }}</td>
                <td>{{ notification.lue == 0 ? 'Non lue' : 'Lue' }}</td>
                <td>
                    <a href="{{ path('notification_mark_as_read', {'id': notification.id}) }}">Marquer comme lue</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune notification</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
